* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: 0;
  outline: 0;
}

body {
  font-size: 14px;
  color: black;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #232323;
  overflow-x: hidden;
}

.load * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

::-webkit-scrollbar-track {
  background-color: #232323;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #E8E8E8;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #C4C4C4;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 5px;
}

.header {
  width: 100%;
  background-color: #1e1e1e;
  box-shadow: 0 0 25px;
  z-index: 100;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo__name {
  color: white;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 36px;
  cursor: pointer;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 15px 0;
}

.header__link {
  color: #e5e5e5;
  font-family: "Montserrat";
  font-size: 19px;
  font-weight: 500;
  opacity: 0.9;
  transition: all 0.1s linear;
}
.header__link:hover {
  color: #fff;
  opacity: 1;
}

.header__link:not(:first-child) {
  margin-left: 35px;
}

@media (max-width: 1240px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1050px) {
  .container {
    max-width: 850px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 740px) {
  .container {
    max-width: 500px;
  }

  .header__inner {
    justify-content: center;
  }

  .logo__name {
    display: none;
  }
}
@media (max-width: 630px) {
  .container {
    max-width: 340px;
  }

  .header__link {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 300px;
  }
}
@media (max-width: 340px) {
  .container {
    max-width: 200px;
  }

  .header__link {
    font-size: 10px;
  }
  .header__link:not(:first-child) {
    margin-left: 10px;
  }

  .slider__inner {
    padding-top: 150px;
  }
}
@media (max-width: 250px) {
  .container {
    max-width: 150px;
  }

  .header__link {
    font-size: 8px;
  }
  .header__link:not(:first-child) {
    margin-left: 5px;
  }
}
@media (max-width: 190px) {
  .container {
    max-width: 120px;
  }

  .header__link {
    font-size: 6px;
  }
  .header__link:not(:first-child) {
    margin-left: 5px;
  }
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
.title .title__text {
  font-size: 72px;
  color: #fff;
  font-family: "Montserrat";
  cursor: default;
}

.search {
  width: 100%;
  background-color: #272727;
  background: url("img/search.jpg") no-repeat center;
  background-size: cover;
}

.search__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.search__block {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search__input {
  outline: none;
  border: none;
  background: transparent;
  text-align: center;
  border-bottom: 2px solid #686868;
  font-size: 24px;
  font-family: "Montserrat";
  color: #686868;
  width: 555px;
  transition: all 0.1s ease;
}
.search__input:focus {
  border-bottom: 2px solid #afafaf;
  color: #afafaf;
}

.svg__search {
  position: absolute;
  margin-left: 260px;
  margin-top: 5px;
}

@media (max-width: 1240px) {
  .search__input {
    width: 500px;
  }

  .svg__search {
    margin-left: 240px;
  }
}
@media (max-width: 740px) {
  .title {
    padding-top: 100px;
  }
  .title .title__text {
    font-size: 60px;
  }
}
@media (max-width: 630px) {
  .title {
    padding-top: 80px;
  }
  .title .title__text {
    font-size: 52px;
  }

  .search__block {
    margin-top: 1px;
  }

  .search__input {
    font-size: 22px;
  }

  .svg__search {
    margin-left: 155px;
  }
}
@media (max-width: 400px) {
  .title {
    padding-top: 50px;
  }
  .title .title__text {
    font-size: 42px;
  }

  .search__block {
    margin-top: 1px;
  }

  .search__input {
    font-size: 20px;
    width: 250px;
  }

  .svg__search {
    margin-left: 117px;
    margin-top: 8px;
  }

  .svg__ico {
    width: 13px;
    height: 13px;
  }

  .search__inner {
    padding-bottom: 25px;
  }
}
@media (max-width: 340px) {
  .title {
    padding-top: 35px;
  }
  .title .title__text {
    font-size: 30px;
  }

  .search__block {
    margin-top: 0;
  }

  .search__input {
    font-size: 16px;
    width: 220px;
  }

  .svg__search {
    margin-left: 100px;
    margin-top: 6px;
  }

  .svg__ico {
    width: 11px;
    height: 11px;
  }
}
@media (max-width: 250px) {
  .title {
    padding-top: 25px;
  }
  .title .title__text {
    font-size: 22px;
  }

  .search__block {
    margin-top: 0;
  }

  .search__input {
    font-size: 14px;
    width: 220px;
  }

  .svg__search {
    display: none;
  }
}
@media (max-width: 190px) {
  .title {
    padding-top: 20px;
  }
  .title .title__text {
    font-size: 20px;
  }

  .search__block {
    margin-top: 0;
  }

  .search__input {
    font-size: 10px;
    width: 220px;
  }

  .search__inner {
    padding-bottom: 15px;
  }
}
.shop {
  width: 85%;
  float: right;
  height: 740px;
  background-color: #313131;
  overflow: hidden;
  overflow-y: auto;
}
.shop::-webkit-scrollbar {
  width: 0;
}

.shop__filter {
  position: relative;
  float: left;
  width: 15%;
  height: 100%;
  background-color: #222222;
  box-shadow: 0 5px 10px 6px rgba(0, 0, 0, 0.5);
}

.shop__filter__inner {
  width: 100%;
}

.burger-menu__nav {
  padding: 50px 0 50px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: 20;
  height: 100%;
  background-color: #222222;
  left: -100%;
  text-align: center;
}

.burger-menu__active .burger-menu__nav {
  left: 0;
}

.burger-menu__link {
  font-family: "Montserrat";
  font-size: 30px;
  color: #7f7f7f;
  text-transform: uppercase;
  transition: all 0.1s ease;
}
.burger-menu__link:hover {
  color: #afafaf;
  border-right: 1px solid #afafaf;
}
.burger-menu__link:focus {
  color: #eee;
  border-right: 5px solid #eee;
}
.burger-menu__link:not(:last-child) {
  margin-bottom: 30px;
}

@media (max-width: 1500px) {
  .burger-menu__link {
    font-size: 24px;
  }
}
@media (max-width: 1240px) {
  .burger-menu__link {
    font-size: 20px;
  }
}
@media (max-width: 1050px) {
  .burger-menu__nav {
    padding: 40px 0 40px 0;
  }

  .burger-menu__link {
    font-size: 19px;
  }
}
@media (max-width: 900px) {
  .burger-menu__nav {
    padding: 25px 0 25px 0;
  }

  .burger-menu__link {
    font-size: 16px;
  }
  .burger-menu__link:focus {
    border-right: 4px solid #eee;
  }
}
@media (max-width: 740px) {
  .burger-menu__nav {
    padding: 20px 0 20px 0;
  }

  .burger-menu__link {
    font-size: 14px;
  }
  .burger-menu__link:not(:last-child) {
    margin-bottom: 20px;
  }
  .burger-menu__link:not(:last-child):focus {
    border-right: 3px solid #eee;
  }
}
@media (max-width: 630px) {
  .burger-menu__nav {
    padding: 25px 0 25px 0;
  }

  .burger-menu__link {
    font-size: 12px;
  }
  .burger-menu__link:not(:last-child) {
    margin-bottom: 15px;
  }
  .burger-menu__link:not(:last-child):focus {
    border-right: 2px solid #eee;
  }
}
@media (max-width: 500px) {
  .burger-menu__link {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  .burger-menu__nav {
    padding: 20px 0 20px 0;
  }

  .burger-menu__link {
    font-size: 8px;
  }
  .burger-menu__link:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 340px) {
  .burger-menu__link {
    font-size: 7px;
  }
}
@media (max-width: 250px) {
  .burger-menu__nav {
    padding: 15px 0 15px 0;
  }

  .burger-menu__link {
    font-size: 6px;
  }
  .burger-menu__link:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 240px) {
  .burger-menu__nav {
    padding: 10px 0 10px 0;
  }

  .burger-menu__link {
    font-size: 4px;
  }
  .burger-menu__link:not(:last-child) {
    margin-bottom: 5px;
  }
}
.container__shop {
  width: 100%;
  max-width: 2100px;
  margin: 0 auto;
}

.shop__inner {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.shop__item {
  width: 100%;
  height: 100%;
  transition: all 0.1s linear;
  margin-top: 20px;
}
.shop__item:hover {
  background-color: #2c2c2c;
}

.item__photo {
  width: 200px;
  height: 193px;
  background-color: #474747;
  float: left;
}

.item__content {
  padding: 20px 0 93px 250px;
  height: 100%;
}
.item__content .item__title {
  color: #fff;
  font-size: 48px;
  font-family: "Montserrat";
}
.item__content .item__rev {
  color: #c9c9c9;
  font-size: 18px;
  font-family: "Montserrat";
}

.item__buyit {
  float: right;
  height: 100%;
  margin-right: 30px;
}

.item__btn {
  padding: 15px 70px;
  background-color: #585858;
  color: #ddd;
  font-family: "Montserrat";
  font-size: 24px;
  transition: all 0.2s linear;
}
.item__btn:hover {
  background-color: #4D4D4D;
  color: #fff;
}

.item__price {
  margin-top: -118px;
  text-align: center;
  padding-bottom: 8px;
  color: #9c9c9c;
  font-size: 21px;
  font-family: "Montserrat";
  font-weight: normal;
  cursor: default;
}

.hide {
  display: none;
}

@media (max-width: 1240px) {
  .item__btn {
    padding: 10px 50px;
  }
}
@media (max-width: 1000px) {
  .item__btn {
    padding: 8px 20px;
    font-size: 20px;
  }

  .item__price {
    font-size: 18px;
    padding-bottom: 2px;
    text-align: right;
  }

  .item__content {
    padding: 20px 0 93px 250px;
  }
}
@media (max-width: 900px) {
  .item__buyit {
    float: left;
    margin-left: 250px;
  }

  .item__price {
    margin-top: -80px;
  }
}
@media (max-width: 700px) {
  .item__content {
    padding: 32px 0 93px 220px;
  }
  .item__content .item__title {
    font-size: 40px;
  }
  .item__content .item__rev {
    font-size: 16px;
  }

  .item__buyit {
    margin-left: 220px;
  }
}
@media (max-width: 600px) {
  .item__photo {
    width: 150px;
    height: 143px;
  }

  .item__content {
    padding: 20px 0 61px 180px;
  }
  .item__content .item__title {
    font-size: 36px;
  }
  .item__content .item__rev {
    font-size: 14px;
  }

  .item__buyit {
    margin-left: 180px;
  }
  .item__buyit .item__btn {
    padding: 6px 15px;
    font-size: 14px;
  }
  .item__buyit .item__price {
    margin-top: -60px;
    font-size: 12px;
    text-align: left;
  }
}
@media (max-width: 490px) {
  .item__photo {
    width: 125px;
    height: 118px;
  }

  .item__content {
    padding: 20px 0 53px 145px;
  }
  .item__content .item__title {
    font-size: 32px;
    margin-top: -10px;
  }
  .item__content .item__rev {
    font-size: 12px;
  }

  .item__buyit {
    margin-left: 145px;
  }
  .item__buyit .item__btn {
    padding: 5px 12px;
    font-size: 12px;
  }
  .item__buyit .item__price {
    margin-top: -50px;
    font-size: 10px;
    text-align: left;
  }
}
@media (max-width: 410px) {
  .item__photo {
    width: 100px;
    height: 93px;
  }

  .item__content {
    padding: 20px 0 43px 115px;
  }
  .item__content .item__title {
    font-size: 24px;
    margin-top: -15px;
  }
  .item__content .item__rev {
    font-size: 10px;
  }

  .item__buyit {
    margin-left: 115px;
  }
  .item__buyit .item__btn {
    padding: 5px 10px;
    font-size: 10px;
  }
  .item__buyit .item__price {
    margin-top: -40px;
    font-size: 8px;
    text-align: left;
  }
}
@media (max-width: 335px) {
  .item__photo {
    width: 70px;
    height: 63px;
  }

  .item__content {
    padding: 15px 0 30px 85px;
  }
  .item__content .item__title {
    font-size: 20px;
    margin-top: -10px;
    line-height: 12px;
  }
  .item__content .item__rev {
    font-size: 6px;
  }

  .item__buyit {
    margin-left: 85px;
  }
  .item__buyit .item__btn {
    padding: 3px 5px;
    font-size: 8px;
  }
  .item__buyit .item__price {
    margin-top: -26px;
    font-size: 5px;
    text-align: left;
    padding-bottom: 0;
  }
  .item__buyit .shop__item {
    margin-top: 15px;
  }
}
@media (max-width: 250px) {
  .item__photo {
    width: 60px;
    height: 53px;
  }

  .item__content {
    padding: 15px 0 20px 70px;
  }
  .item__content .item__title {
    font-size: 14px;
    margin-top: -2px;
    line-height: 4px;
  }
  .item__content .item__rev {
    font-size: 4px;
  }

  .shop__item {
    margin-top: 15px;
  }

  .item__buyit {
    margin-left: 70px;
  }
  .item__buyit .item__btn {
    padding: 2px 4px;
    font-size: 6px;
  }
  .item__buyit .item__price {
    margin-top: -25px;
    font-size: 3px;
    text-align: left;
    padding-top: 0;
    opacity: 0;
  }
}
@media (max-width: 205px) {
  .item__photo {
    width: 40px;
    height: 33px;
  }

  .shop__item {
    margin-top: 10px;
  }

  .item__content {
    padding: 5px 0 8px 50px;
  }
  .item__content .item__title {
    font-size: 10px;
    margin-top: 3px;
    line-height: 1px;
  }
  .item__content .item__rev {
    visibility: hidden;
  }

  .item__buyit {
    margin-left: 50px;
  }
  .item__buyit .item__btn {
    padding: 2px 3px;
    font-size: 4px;
  }
  .item__buyit .item__price {
    margin-top: -25px;
    font-size: 3px;
    text-align: left;
    padding-top: 0;
    opacity: 0;
  }
}
@media (max-width: 160px) {
  .item__photo {
    width: 30px;
    height: 23px;
  }

  .shop__item {
    margin-top: 5px;
  }

  .item__content {
    padding: 3px 0 0 35px;
  }
  .item__content .item__title {
    font-size: 6px;
    margin-top: 3px;
    line-height: 1px;
  }
  .item__content .item__rev {
    visibility: hidden;
  }

  .item__buyit {
    margin-left: 35px;
    margin-top: 2px;
  }
  .item__buyit .item__btn {
    padding: 1px 3px;
    font-size: 4px;
  }
  .item__buyit .item__price {
    margin-top: -25px;
    font-size: 3px;
    text-align: left;
    padding-top: 0;
    opacity: 0;
  }
}